.stats{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.stats-block{
    text-align: center;
    color: #FFF;
}
.stats-number{
    font-size: 48px;
    font-weight: 700;
}
.stats-text{
    font-family: Outfit, sans-serif;
    font-weight: 400;
    font-size: 36px;
}
@media screen and (max-width:1225px) {
    .stats-text{
        font-size: 36px;
    }
}

@media screen and (max-width:1024px) {
    .stats-text{
        font-size: 32px;
    }

}

@media screen and (max-width:360px) {
    .stats-text{
        font-size: 24px;
    }
    .stats-number{
        font-size: 32px;
    }
    .stats{
        flex-direction: column;
    }
}