
.child-nav{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    max-width: 744px;
    overflow-x: auto;
    margin: 24px auto auto auto;
}
.nav-items{
    display: flex;
    gap: 48px;
    width: max-content;
    justify-content: center;
    overflow-x: auto;
}
.nav-items button{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    width: max-content;
    padding: 8px 0;
}
.active{
    color: #FFAE00;
}
.line{
    display: block;
    border: 2px solid #FFAE00;
    width: 135px;
    position: relative;
    left: 0px;
    transition: left 0.5s;
}

.engagement{
    width: 144px;
    left: -10px;
    transition: left 0.5s;

}
.pre_wedding{
    width: 140px;
    left: 184px;
    transition: all 0.5s;

}

.haldi{
    width: 67px;
    left: 364px;
    transition: all 0.5s;

}
.wedding{
    width: 97px;
    left: 477px;
    transition: all 0.5s;

}
.baby_shoot{
    width: 127px;
    left: 620px;
    transition: all 0.5s;

}

@media screen and (max-width:360px) {
    .child-nav{
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 12px;
        font-size: 16px;
        overflow-x: auto;
    }
    .nav-items{
        gap: 16px;
    }
    .line{
        width: 70px;
    }
    .engagement{
        width: 87px;
        left: 0px !important;
        transition: left 0.5s;
    }
    .pre_wedding{
        width: 90px;
        left: 110px !important;
        transition: left 0.5s;
    
    }
    .haldi{
        width: 50px;
        left: 210px;
        transition: left 0.5s;
    
    }
    .wedding{
        width: 65px;
        left: 269px;
        transition: left 0.5s;
    
    }
    .baby_shoot{
        width: 80px;
        left: 349px;
        transition: left 0.5s;
    
    }
}