

.works-heading {
   font-size: 42px;
   text-align: center;
}
.child-nav{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    max-width: 732px;
    overflow-x: auto;
    margin: auto;
}
.nav-items{
    display: flex;
    gap: 48px;
    width: max-content;
    justify-content: center;
    overflow-x: auto;
}
.nav-items button{
    width: max-content;
}
.active{
    color: #FFAE00;
}
.line{
    display: block;
    border: 2px solid #FFAE00;
    width: 120px;
    position: relative;
    left: 0;
    transition: left 0.5s;
}

.baby_shoot{
    left: 0;
    transition: left 0.5s;

}
.pre_wedding{
    left: 163px !important;
    transition: left 0.5s;

}

.wedding{
    left: 319px;
    transition: left 0.5s;

}
.engagement{
    left: 467px;
    transition: left 0.5s;

}
.haldi{
    left: 599px;
    transition: left 0.5s;

}

@media screen and (max-width:360px) {
    .child-nav{
        max-width: 328px;
        font-size: 16px;
        overflow-x: auto;
    }
    .nav-items{
        gap: 16px;
    }
    .line{
        width: 70px;
    }
    .pre_wedding{
        left: 97px !important;
        transition: left 0.5s;
    
    }
    
    .wedding{
        left: 185px;
        transition: left 0.5s;
    
    }
    .engagement{
        left: 267px;
        transition: left 0.5s;
    
    }
    .haldi{
        left: 349px;
        transition: left 0.5s;
    
    }
}